body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: white;
}

.container {
    position: relative;
    max-width: 430px;
    background-color: white;
    width: 100%;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 1);
    border-radius: 10px;
    font-family: "poppins", sans-serif;
}

.container .log-box {
    padding: 30px;
}

.form .user-image {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    height: 80px;
    width: 80px;
    margin: auto;

}

.form .user-image img {
    height: 70px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .user-label {
    position: relative;
    font-size: 27px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 15px;
}

.form .user-label-co {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.form .user-mail {
    justify-content: initial;
    display: flex;
    font-family: "poppins", sans-serif;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    height: 50px;
    margin-bottom: 0px;
}

.form .user-mail img {
    height: 100%;
    margin-top: 5px;
    margin-right: 10px;
}

.form .user-mail input {
    height: 100%;
    width: 100%;
    margin-top: -1px;
    background-color: white;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(191, 191, 191);
    font-size: 15px;

}

.form .user-mail input:hover {
    border-bottom: 2px solid gray;
}

.form .user-button {
    background-color: white;
    margin-top: 30px;
    height: 50px;
}

.form .user-button input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(0, 121, 250);
    font-size: 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.form .user-button input:hover {
    background-color: #003de6;
}

.form .user-label-coo {
    margin-top: 30px;
    text-align: center;
}

.form .user-label-coo a {
    text-decoration: none;
    color: #4070f4;
}

.form .user-label-coo a:hover {
    text-decoration: underline;
}